body{
    background: rgb(88, 88, 230);
    margin: 100px;
    padding-bottom: 200px;
   
}
.container{
    width: 500px;
    background: white;
    margin-left: 370px;
    padding: 20px;
    padding-right: 3px;

}
h2{
    text-align: center;
}
input,select{
    display: block;
    width: 300px;
    margin: 20px;
    padding: 15px;
    padding-right: 130px;
   background: rgb(183, 180, 180);
   border: none;
   
}
.container select{
   width: 89%;
   color: #656363;
   
}

button{
    width: 100px;
    padding: 8px;
    background:teal;
    color: wheat;
    border: none;
    margin:auto;
    display: block;
}