body{
    background: rgb(36, 36, 222);
    font-family: Arial;
}
.wrapper{
    margin-top: 80px;
    background: white;
    margin-right: 500px;
    margin-left: 400px;
    border-radius: 10px;
    margin-top: px;
    
}

.todo-container{
    width: 400px;
    background: white;
    margin: 100px;
    padding-top:10px;
    padding-bottom: 10px;
    border-radius: 15px;
}
.input-box{
    display: block;
    width: 400px;
    margin: 30px;
    padding: 40px;
    border: none;
}

input{
    flex: block;
    padding: 8px;
    width: 200px;
    padding-right: 70px;
    padding-left: 10px;
    
}
button{
    background:rgb(30, 30, 208);
    color: white;
    border: none;
    padding: 5px;
    width: 60px;
    height: 35px;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 10px;
}
ul{
    list-style: none;
    padding: 0;
    margin-top: 20px;
}
li{
    background:rgb(53, 221, 236) ;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.delete-btn{
    background: #1e3a8a;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}