body {
  font-family: Arial, sans-serif;
  background: #e4b8b8;
  margin: 0;
  text-align: center;
}

.dark {
  background: #121212;
  color: white;
}

header {
  background: #6c63ff;
  color: white;
  padding: 20px;
}

button {
  padding: 10px 15px;
  margin: 5px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  background: #8c89d4;
  color: white;
}

button:hover {
  background: #554ee0;
}

.menu {
  margin: 20px 0;
  display: block;
  
}
.skills{
  margin-left: 30px;
  margin-right: 30px;
}
.content li:hover {
  background: #54da54;
}
.content {
  height: 300px;
  display: none;
  background: white;
  margin-left: 250px;
  margin-right: 250px;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  
}
.content ul{
  list-style-position: inside;
  
  
}
.content li{
  text-align: justify;
  box-sizing: border-box;
   padding: 10px 15px;
  margin: 2px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  color: rgb(6, 6, 6);
  margin-left: 330px;
  margin-right: 330px;
  background-color: #b1b1c0;
 
  
}
.content h3{
  
  text-align: center;
  box-sizing: border-box;
  padding: 10px 10px;
  margin: 15px;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  border-radius: 20px;
  cursor: pointer;
  color: rgb(6, 6, 6);
  margin-left: 400px;
  margin-right: 420px;
  background-color: #8c89d4;
}
.content h3:hover {
  background: #87e574;
}
.dark .content {
  background: #1e1e1e;
}

input {
  padding: 10px;
  margin: 10px;
  width: 30%;
}

footer {
  margin-top: 30px;
  padding: 10px;
  background: #493a91;
  color: white;
  margin-left: 170px;
  margin-right: 170px;
}
.d{
  color: #985ac1;
}